:root {
  --white: #F1F2FF;
  --black: #171823;
  --dark-light: #3D405F;
  --light: #9CA4E7;
  --green: #2CFFC0;
  --blue: #3F6EFC;
  --red: #E93C8F;
  --yellow: #FCFFE0;
  --sm: 2.2rem;
  --md: 2.4rem;
  --lg: 3.6rem;
}