@import 'vars';

.Install {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70rem;
  align-content: center;

  &__step {
    display: grid;
    grid-template-rows: auto 18rem 6.4rem;
    height: 100%;
    text-align: center;

    &--route {
      width: 96%;
      height: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      font-family: 'JetBrains Mono', sans-serif;
      font-size: 1.4rem;
      font-weight: normal;
      color: var(--yellow);
      background-color: var(--dark-light);
    }
    & div p {
      padding: 0 4px;
      font-size: 2rem;
    }
    img {
      height: 22rem;
      place-self: center;
      margin-bottom: 5.6rem;
    }
  }
  &__step:nth-of-type(1) {
    img {
      width: 26rem;
    }
  }
  &__step:nth-of-type(3) {
    img {
      width: 24rem;
    }
  }
}